.slider-container {
    width:100%;
}

.slider-wrapper {
    top:0;
    left:0;
    height:400px;
    width:640px;
    margin:0 auto;
    position:relative;
    //background-color: rgba(255,255,255,.3);
}


.neutron {
    font-family:'Neutron';
}
.pacifico {
    font-family:'Pacifico';
}
.dancingscript {
    font-family:'Dancing Script';
}


.darkblue {
    color:#1d3a8f;
}
.lightblue {
    color:#4fc0fa;
}
.pink {
    color:#f25453;
}
.white {
    color:#ffffff;
}

.uppercase {
    text-transform: uppercase;
}

.slider-text-layer {
    z-index:200;
}
.slider-gfx-layer {
    z-index:100;
}

#label_discover {
    position:absolute;
    font-size:40px;
    top:10%;
    left:20%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_rodereisen {
    position:absolute;
    font-size:45px;
    top:15%;
    left:15%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_the_world {
    position:absolute;
    font-size:40px;
    top:30%;
    left:18%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_sonne {
    position:absolute;
    font-size:35px;
    top:40%;
    left:30%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_strand {
    position:absolute;
    font-size:35px;
    top:50%;
    left:32%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_meer {
    position:absolute;
    font-size:35px;
    top:60%;
    left:28%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_since {
    position:absolute;
    font-size:45px;
    top:70%;
    left:20%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_1981 {
    position:absolute;
    font-size:45px;
    top:80%;
    left:20%;
    text-align:center;
    width:25%;
    white-space:nowrap;
}
#label_stars {
    position:absolute;
    font-size:25px;
    top:50%;
    left:20%;
    display:none;
}
#label_geniessen {
    position:absolute;
    font-size:35px;
    top:5%;
    left:80%;
}
#label_wohlfuehlen {
    position:absolute;
    font-size:35px;
    top:16%;
    left:70%;
}
#label_ruhe {
    position:absolute;
    font-size:35px;
    top:25%;
    left:88%;
}
#label_entspannen {
    position:absolute;
    font-size:35px;
    top:35%;
    left:70%;
}
#label_sehnsucht {
    position:absolute;
    font-size:35px;
    top:60%;
    left:76%;
}
#label_erleben {
    position:absolute;
    font-size:35px;
    top:48%;
    left:80%;
}
#label_traumziele {
    position:absolute;
    font-size:35px;
    top:80%;
    left:65%;
}
